* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
  }
body{
    /* background: rgb(24, 22, 22); */
    background: whitesmoke;
    color: black;
    width: 80%;
    margin: auto;
    /* font-family:  cursive,'Bebas Neue'; */
    /* font-family:"Roboto Slab",serif */
    font-family: 'Bebas Neue', cursive;
font-family: 'Secular One', sans-serif;
}
section{
    /* border: 1px solid rgb(45, 43, 43); */
    padding: 20px;
    margin-top:3% ;
}
#navbar{
position: fixed;
width: 98%;
background-color: rgb(24, 22, 22);
top: 0;
left: 0;
}
a{
    text-decoration: none;
    color: white;

    
}

#navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
#navbar ul li {
  background:rgb(24, 22, 22);
    display: inline-block;
    margin: 10px;
    position: relative;    

}
#navbar ul li ::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #4e72d4;  
    position: absolute;  
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
#navbar ul li :hover::after{
    width: 100%;
}
#navbar>div>img{
    height: auto;
    width: fit-content;
}

/* <-----------------Navar part done-----------> */

.Circle>div{
    width: 100%;

}
.Circle>div>img{
    width: 100%;
    border-radius: 50%;
}

.Circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 10px solid green; */
    margin: auto;
    margin-top: 1%;
}


.welcome{
    font-size: 3vw;
    text-align: center;
    text-decoration:solid;
    margin-top: 30px;
    font-weight: bold;
    /* color: white; */
    /* color: black; */
    text-transform: uppercase;
    animation: color 4s 1;
}
.welcome>span{
    color: #4070f4;
}
.welcome2{
    padding-top: 10px;
    text-align: center;
    animation: color 4s 1;
}
@keyframes color{
    0%{
        color: #242839;
        font-size: 1vw;
    }
}
.About{
    width: fit-content;
    padding: 5px 15px;
    text-align: center;
    /* border: 1mm solid white; */
    border-radius: 30px;
    
}
.headding{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    /* padding: 10px 20px; */
    font-weight: bold;
    
   
}
/* .colors{
color: black;
} */
.hh{
    color: black;
}

.Download{
    background-color: #4070f4;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.intro{
    text-align: center;
    width: 60%;
    margin: auto auto 50px auto;
}
.logo{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    
   justify-content: center;
}
.logo>div{
    width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px 25px 0px 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    /* color: black; */
    text-align: center;
    font-weight: bold;

}

.logo>div>img{
    width: 100%;
    height: 100px;
 
    margin-bottom: 10px;
}

#Skills{
    width: fit-content;
    padding: 5px 15px;
    /* margin: 10% auto 2% auto; */
    text-align: center;
    /* border: 1mm solid white; */
    border-radius: 30px;
    font-size: 23px;
}

#pro{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    grid-auto-rows: auto;

}
#pro>div{
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
}
#pro>div>img{
    width: 100%;
    /* height: 300px; */
    height: 250px;
   margin: 30px auto;
}
/* #pro>div>h2{
color:  snow;
} */
#pro>div>div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 20px;
}
#pro>div>div>a>button{
    padding: 10px 30px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background-color: white;
    font-weight: bold;    
}

div>a>button img{

    width: 30px;
}
.contact{
    margin-bottom: 30px;
}
.logos{
    margin-top: 40px;
    padding: 20px;
    display: inline;
}
.logos>a>img{
    
    border: 1mm solid  black;
    border-radius: 50%;
    margin: auto 10px;
    width: 50px;
    height: fit-content;

}
.call>a>img{
    /* border: 1mm solid  #4070f4; */
    border-radius: 50%;
    margin: auto 10px;
    width: 50px;
    height: fit-content;
}
.call>a{
    padding: 20px;
    display: flex;
    gap: 10px;
    /* color: black; */
    align-items: center
}
.footer{
    margin: 30px auto;
    opacity: 0.5;
    text-align: center;
   
}
/* Education */
.Study{
    display: flex;
   margin: 20px auto;
   justify-content: flex-start;
   gap: 20px;
    padding: 20px;
    animation: slid 3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.Study_icon>img{
width: 60px;
border-radius: 50%;
}
.animateme{
    animation: slid .7s ease-in;
}
@keyframes slid{
    0% {transform: skew(53deg) translateX(-500px);}
  
    100% {transform: skew(0deg) translateX(-100px);}
}
@keyframes me{
    0% {transform: skew(53deg) translateX(-500px);}
  
    100% {transform: skew(0deg) translateX(-100px);}
}
@media all and (min-width: 120px) and (max-width: 419px){
    body{
     width: 500px; 
     /* border: 1mm solid red; */
     /* background-color: red;   */
    }
    #navbar{
        width: 100%;
    }
    section{
        /* border: 1px solid rgb(45, 43, 43); */
        padding: 20px;
        margin-top:3% ;
    } 
    .intro{
        width: 100%;
       
       }
       #navbar>div>img{
        /* border:1mm solid red; */
        width: 130px;
    }
    /* section{
        width: 100%;
    } */
    .intro{
        width: 100%;
       }
       #pro{
        grid-template-columns: repeat(1,1fr);
    
       }
}

@media all and (min-width: 420px) and (max-width: 499px){
    body{
        width: 100%;
        /* background-color: red; */
    }
    section{
        /* border: 1px solid rgb(45, 43, 43); */
        padding: 20px;
        margin-top:3% ;
    }   
    #navbar{
        width: 100%;
        display: flex;

    }
    #navbar>div>img{
        /* border:1mm solid red; */
        width: 80px;
    }
    #navbar>div{
        padding: 0px;
        
        
    }
   .padding{
    width: 100%;
    /* border: 1mm solid red; */
   }
   .intro{
    width: 100%;
   }
   #pro{
    grid-template-columns: repeat(1,1fr);

   }
}
@media all and (min-width: 500px) and (max-width: 780px){
    body{
        width: 100%;
        /* color: black; */
        /* background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNvbGlkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60"); */
        /* background-color: rgb(63, 47, 47); */
    }

    .welcome{
        color: black;
    }
    /* #navbar{
        background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNvbGlkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    } */
    #navbar>div>img{
    width: 100px;
    }
    .intro{
        width: 100%;
    }
    #pro{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: auto;
    }
    u{
        color: rgb(4, 0, 255);
    }
    #pro>div>h2{
        /* color: gold; */
        color: rgb(5, 88, 55);
    }
    section{
        border: 1px solid rgb(91, 88, 88);
    }
}